<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!--boxicons-->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <title>CRUD</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>

              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        <a href="/create" class="btn btn-outline-primary mt-4"><box-icon name='user-plus' type='solid' size='lg'></box-icon></a>
        <table class="table table bordered table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PUESTO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((empleado)=>{ %>
                <tr>
                    <td> <%= empleado.ID %> </td>
                    <td> <%= empleado.Nombre %> </td>
                    <td> <%= empleado.Puesto %> </td>
                    <td>
                        <a href="/edit/<%= empleado.ID %>" class="btn btn-outline-info">Editar</a>
                        <a href="/delete/<%= empleado.ID %>" class="btn btn-outline-danger">Borrar</a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>